<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<style>
		*{
			margin:0;
			padding:0;
		}
		.bg{
			display:flex;
			z-index:-1;
			position:fixed;
			margin-top: -15vh;
		}
		.item{
			height:100vh;
			z-index: -1;
		}
		.red{
			width:50vw;
			background: linear-gradient(to top right, #ff4f4f,#f90000);
			opacity:0.9;
		}
		.white{
			width:50vw;
			background-color: #ffffff;
		}
		.svg{
			position: relative;
		}
		.svg1{
			position: absolute;
			right:0;
			top : 20vh;
		}
		.svg2{
			position: absolute;
			right:0;
			top : 28vh;
		}
		.svg3{
			position: absolute;
			right: 23vh;
			top:24vh;
		}
		.heading{
			text-align: center;
		}
	#MonktreeIcon{
	position: absolute;
	left: 5vw;
	top: 5vh;
	width: 17vw;
	}
	.bg>span{
	position: absolute;
	font-size: 1.8vw;
	color: #fff;
	left: 10vw;
	top: 45vh;
	}
	.bg>h4{
	position: absolute;
	font-size: 0.9vw;
	color: #fff;
	left: 10vw;
	top: 50vh;
	}
	#GoBack{
	position: absolute;
	width: 2vw;
	left: 4vw;
	top: 83vh;
	}
	h5{
	position: absolute;
	color: #ffffff;
	font-size: 1.5vw;
	left: 6.5vw;
	top: 82.7vh;

	}

	form {
	margin-left:auto;
	margin-right:auto;
	max-width: 20vw;
	margin-top: 15vh;
	 background: #FfFfFf;
    filter: drop-shadow(1px 1px 5px #777);
	padding: 25px 25px 25px 25px;
	border-radius: 3%;
	font-family: Segoe UI;
	}
	h1 {
	font-size: 20px;
	margin: 0vh 0vh 5vh 0vh;
	color: #555;
	text-shadow: 0px 2px #ccc;
	text-align: center;

	}
	.underline-small{
	position:relative;
	}
	h1::after{
	display: inline-block;
	content:'';
	height:2px;
	width:12%;
	background:#555;
	position:absolute;
	left:calc(44%);
	bottom:-5px;
	}
input[type="text"], input[type="number"], input[type="tel"], select {
	height: 30px;
	margin-bottom: 16px;
	padding: 3px 3px 3px 5px;
	width: 96%;
	border:none;
	border-bottom: 1px solid;
	border-color: #999;
	font-family: Segoe UI;
	background-color: #FfFfFf;

	}

#submit {
    background:#f90000;
    opacity:0.8;
    color: #FFF;
    width: 50%;
    margin-left:5vw;
    padding: 1vw 0vw 1vw 0vw;
    margin-bottom: 16px;
	border: none;
    filter: drop-shadow(1px 1px 1px #aaa);
    border-radius: 50vw;
    cursor: pointer;
}
	#submit:hover {
     opacity:1;
}
	.Shift{
	color: #666;
	width: 100%;
	}
	@media only screen and (max-width:500px) and (max-height:1000px){
#MonktreeIcon{
	top: 6vh;
	width: 45vw;
}
.bg{
margin-top:-15vh;
}
.bg>span{
font-size: 0vw;
}
#GoBack{
margin-top: 6.9vw;
width: 5vw;
}
h5{
font-size: 4.5vw;
top: 86.3vh;
left: 12vw;
}
form {
margin-left: 10vw;
margin-right: 10vw;
margin-top: 10vh;
max-width: 80vw;
padding: 30px 30px 30px 30px;
}
	h1 {
	font-size: 7vw;
font-weight: normal;
text-shadow: 0.5px 0.5px #aaa;
	}
	input[type="text"], input[type="date"], input[type="number"],input[type ="tel"] , select {
	height: 33px;
font-size: 4vw;
margin-bottom: 20px;
padding: 5px 5px 5px 5px;
	}
	h6{
	font-size: 15px;
}
	#submit {
font-size: 5vw;
padding: 2vw 5vw 2vw 5vw;
margin-left: 25%;
	}
	#State, #PIN, #Landmark, #City{
	width: 40%;
	}
	}
</style>
</head>
<body>
	<div class="bg">
		<div class="red item"></div>
		<div class="white item">
			<div class="svg">
					<svg	class = 'svg1 outer'width = '31vh'height = '62vh'>
					<circle cx="30vh" cy="30vh" r="29vh" stroke="#FFECED" stroke-width="1vh" fill="white" />
					</svg>
					<svg	class = 'svg2 inner' width="22vh" height="44vh">
					<circle cx="22vh" cy="22vh" r="14vh" stroke="#FFECED" stroke-width="8vh" fill="white" />
					</svg>
					<svg	class = 'svg3' width="4vh" height="4vh">
					<circle cx="2vh" cy="2vh" r="2vh"  fill="#FFECED" />
					</svg>
			</div>
		</div>
			<img id="MonktreeIcon" src="/static/images/MonktreeIcon.png">
		<span>Enrollment</span>
		<h4>It'll take few moments</h4>
	</div>
		<a href="/">
			<img id="GoBack" src="/static/images/GoBackIcon.png">
			<h5>Home</h5>
		</a>
<form action="/backend/academic" method="post">
<h1 class="underline-small">ACADEMIC</h1>
	<input id="Institution/College" type="text" name="college" title="Enter the name of your Institution/College" placeholder="Institution/College" maxwidth="40" required="true" />
	<input id="Stream/Branch" type="text" title="Fill your Stream/Branch here" name="branch" placeholder="Stream/Branch" maxwidth="40" required="true" />
	<input id="Semester" type="number" title="Specify your Semester" name="sem" placeholder= Semester maxwidth="10" required="true" />
	<select name="shift" class="Shift" title="Select the Shift either Morning or Evening" required="true">
    	<option id="Shift" value="">Shift</option>
    	<option id="Shift" value="Male">Morning</option>
    	<option id="Shift" value="Female">Evening</option>
	</select>
	<input id="YearOfAdmission" type="number" name="yoa" placeholder="Year of Admission" min="2010" max="2019" title="Enter the Year when you took Admission" required="true" />
	<input id="BoardRollNo/EnrollmentNo" type="text" name="rollno" placeholder="Board Roll No. / Enrollment No." pattern="^[0-9]{}$" maxlength="12" title="Enter your Roll No. or Enrollment No. here" required="true" />
	<input id="submit" type="submit" value="Next" />
</form>
</body>
</html>
