<!DOCTYPE html>
<html>
<head>
	<title>Monktree</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" media="screen and (min-device-width:601px)" href="/static/css/desktop_style.css" />
	<link rel="stylesheet" media="screen and (max-device-width:600px)" href="/static/css/mobile_style.css" />

</head>
<body id="body">
	<div class="mobile">
	<img id="bg" src="/static/images/mobilebg1.png">
	<img id="bg2" src="/static/images/mobilebg2.png">
	<div id="header">
		<img id ="MonktreeIcon" src="/static/images/MonktreeIcon.png">
		<a class="circle_" id ="Hiring" href="/404"><div>&nbsp;&nbsp;&nbsp;&nbsp;</div> &nbsp;We are Hiring </a>
		<script>
		function myFunction() {
			var w = document.getElementById("body");
			var y = document.getElementById("icon");
			var z = document.getElementById("MonktreeIcon");
			var v = document.getElementById("Hiring");
			var x = document.getElementById("myTopnav");
			if (x.className === "topnav") {
				y.innerHTML= "<i class='fa fa-times'/>";
				x.className = " responsive";
				z.style.display = "none";
				v.style.display = "none";
				w.style.overflowY="hidden";
			} else {
				y.innerHTML= "<i class='fa fa-bars'/>";
				x.className = "topnav";
				z.style.display = "block";
				v.style.display = "block";
				w.style.overflowY="scroll";
			}
		}
		</script>
		<div class="topnav" id="myTopnav">
		  <a href="/404" class="navBookbank">Bookbank</a>
		  <a href="/404" class="navCodingShastra">CodingShastra</a>
		  <a href="/404" class="navHomes">Homes</a>
		  <a href="/404" class="navStore">Store</a>
		  <a href="/404" class="navDownloadApp">Download App</a>
		<a href="/signin">
			<span id="LoginButton">Login &nbsp; <i class="fa fa-arrow-right"></i></span>
		</a>
		<a href="javascript:void(0);" class="icon" id="icon" onclick="myFunction()">
		    <i class="fa fa-bars"></i>
		  </a>
		</div>
	</div>
	<div id="hassle">
		<p id="p1">Monktree Student Plans</p>
		<p id="p2">Hassle free academic journey<br>with us</p>
	</div>
	<div id="SmilingBoyAndGirl" >
		<img src="/static/images/SmilingBoyAndGirl.png">
	</div>
	<div id="EnrollWithEmail">
		<input type="text" class="EnterEmail" name="EMAIL" placeholder="  Your email address" spellcheck="false">
		<a href="/mobile"><button type="submit" id="EnrollNowButton">Enroll Now</button></a>
		 </div>
	<div id="KnowMore" >
		<a  href="">Know More &nbsp;<i class="fa fa-arrow-right"></i></a>
	</div>
	<div id="para">
		<p id="headline1">Our Flagship Service</p>
		<p id="headline2">Bookbank</p><br>
		<p id="text">We are reducing your stationary consting and enhancing content quality to unable you to stand with clear concepts and more knowledge in your field. We are supporting this service with our tutorial and other supporting material along in</p>
	</div>
	<div class="grid-wrapper">
		<div class="box first"><img src="static/images/DeliveryIcon.png"><span>Home&nbsp;Delivery</span></div>
		<div class="box second"><img src="static/images/StationaryIcon.png"><span>Stationary</span></div>
		<div class="box third"><img src="static/images/BookIcon.png"><span>Books</span></div>
		<div class="box fourth"><img src="static/images/SupportIcon.png"><span>Support&nbsp;Material</span></div>
		</div>
		<a href="/mobile"><span id="EnrollNowButton1">Enroll Now</span> &nbsp;<img src="static/images/EnrollNowIcon.png"></a>
	<span id="MonktreeStore"><h6>Monktree </h6>Store</span>
	<a href="/404"><img id="VisitStore" src="static/images/VisitStore.png"></a>
	<div id="MonktreeStoreBooks">
		<div class="flexbox1">
			<div class="box1"><img src="static/images/CGBookIcon.png"><span>₹610<br><h3>Computer&nbsp;Graphics</h3></span></div>
			<div class="box1"><img src="static/images/ATSSBookIcon.png"><span>₹150<br><h3>The&nbsp;Kite&nbsp;Runner</h3></span></div>
		</div>
	</div>
	<div id="SeeOffers">See Offers &nbsp;<i class="fa fa-arrow-right"></i></div>
	<div id="footer">
		<div class="monktree">
			<a href="/404" id="orange"><span>Monktree</span></a>
			<a href="/404">Our Aim</a>
			<a href="/404">Our Team</a>
			<a href="/404">Career</a>
			<a href="/404">Policies</a>
		</div>
		<div class="products">
			<a href="/404" id="purple"><span>Products</span></a>
			<a href="/404">Bookbank</a>
			<a href="/404">Codingshastra</a>
			<a href="/404">Monktree Store</a>
			<a href="/404">Profile Build</a>
		</div>
		<div class="highlights">
			<a href="/404" id="purple"><span>Highlights</span></a>
			<a href="/404">Enrollment</a>
			<a href="/404">Courses</a>
			<a href="/404">Store</a>
			<a href="/404">Resume Builder</a>
		</div>
	</div>
</div>


<!--desktop-->
<div class="desktop">
<img id="background1" src="static/images/background-1.png">
<img id="background2" src="static/images/background-2.png">
<img id="background3" src="static/images/background-3.png">
<div class="container1">
<img id="MonktreeIcon" src="static/images/MonktreeIcon.png">
<a href="/404"><img id="StoreIcon" src="static/images/StoreIcon.png"></a>
<a href="/dashboard"><span id="Bookbank">Bookbank</span></a>
<a href="/404"><span id="CodingShastra">CodingShastra</span></a>
<a href="/404"><span id="ProfileBuild">ProfileBuild</span></a>
<!-- check if user is logged in or not conditional rendering -->
<!-- <a href="{% url 'logout' %}">
	<span id="LoginButton">Logout &nbsp; <i class="fa fa-arrow-right"></i></span>
</a> -->
<a href="/signin">
	<span id="LoginButton">Login &nbsp; <i class="fa fa-arrow-right"></i></span>
</a>

</div>
<span id="HassleFreeAcademicJourney">Hassle free academic<br>journey with<br><br><span>Monktree Students<br>Plan</span></span>
<img id="SmilingBoyAndGirl" src="static/images/SmilingBoyAndGirl.png">
<a href="/mobile"><span id="EnrollNowButton1">Enroll Now</span> &nbsp;<img src="static/images/EnrollNowIcon.png"></a>
<a href="" id="KnowMore">Know More &nbsp;<i class="fa fa-arrow-right"></i></a>
<span id="OurFlagshipServicesBookbank">Our Flagship Service<br><h6>Bookbank</h6><br><p id="text">We are reducing your stationary costing and <br>enhancing content quality to enable you to stand with clear concepts <br>and more knowledge in your field. We are supporting this service <br>with our tutorial and other supporting material along in <br>a single plan.</p>
</span>
<div class="grid-wrapper">
<div class="box first"><img src="static/images/DeliveryIcon.png"><span>Home&nbsp;Delivery</span></div>
<div class="box second"><img src="static/images/StationaryIcon.png"><span>Stationary</span></div>
<div class="box third"><img src="static/images/BookIcon.png"><span>Books</span></div>
<div class="box fourth"><img src="static/images/SupportIcon.png"><span>Support&nbsp;Material</span></div>
</div>
<a href="/mobile"><span id="EnrollNowButton2">Enroll Now</span> &nbsp;<img src="static/images/EnrollNowIcon.png"></a>
<span id="MonktreeStore"><h6>Monktree </h6>Store<p>A dedicated platform for students where you can get unbelievable discount.<br>From books to technical tools, from Calculators to Bag packs everything in a <br>single platform.</p></span>
<a href=""><img id="VisitStore" src="static/images/VisitStore.png"></a>
<div id="MonktreeStoreBooks">
	<a class="link active circle" id ="books" onclick="change(this)"><div>&nbsp;&nbsp;&nbsp;&nbsp;</div> &nbsp; Books &nbsp;</a>
	<a class="link" id = "stationay"  onclick="change(this)"><div>&nbsp;&nbsp;&nbsp;&nbsp;</div> &nbsp; Stationay &nbsp;</a>
	<a class="link" id = "accessories"  onclick="change(this)"><div>&nbsp;&nbsp;&nbsp;&nbsp;</div> &nbsp; Accessories &nbsp;</a>
	<div class="flexbox1">
		<div class="box1"><img src="static/images/CGBookIcon.png"><span>₹610<br><h3>Computer&nbsp;Graphics</h3></span></div>
		<div class="box1"><img src="static/images/ATSSBookIcon.png"><span>₹150<br><h3>The&nbsp;Kite&nbsp;Runner</h3></span></div>
		<div class="box1"><img src="static/images/TIBookIcon.png"><span>₹210<br><h3>The&nbsp;Inferno</h3></span></div>
		<div class="box1"><img src="static/images/OSBookIcon.png"><span>₹450<br><h3>Operating&nbsp;Systems</h3></span></div>
</div>
</div>
	<script type="text/javascript">
		function change(el){
			var a = document.getElementsByClassName('link');
			var b = document.getElementsByClassName('flexbox1');
			console.log(a.length);
			for(var i = 0; i < a.length; i++){

				if(a[i].className === "link active circle"){
					console.log(a[i].className);
					a[i].className = "link";
				}
					console.log(a[i].className);
			}
			el.className += " active circle";
		}
	</script>
<span id="SeeOffers">See Offers &nbsp;<i class="fa fa-arrow-right"></i></span>
<div class="flexbox">
	<div class="column1">
		<div class="box2 one"><span><h>50+ Software Manuals</h><br><br>Adobe, VM, Animation and<br>Programming IDE
		</span></div>
		<div class="box2 two"><img src="static/images/TutorialsIcon.png"><h3>Academic&nbsp;Tutorials</h3></div>
		<div class="box2 three"><span><h>100+ Detailed Question<br>paper solutions</h><br><br>In Hindi and English Language</span></div>
	</div>
	<div class="column2">
		<div class="box2 four"><img src="static/images/ProgrammingIcon.png"><h3>Programming<br>Foundation&nbsp;Courses</h3></div>
		<div class="row2">
		<div class="box2 five"><img src="static/images/SkillBasedCoursesIcon.png"><span><h>Skill Based Courses</h><br>UI, Graphics, UX, Product Designing etc
		</span></div>
		<div class="box2 six"><span><h>Notes Directory for<br>Mostly Subjects</h><br><br></span></div>
		</div>
	</div>
	<span id="CodingShastraDetails"><h>Coding Shastra</h><br><br>Digital Content for Students for technical <br>or non technical Background with huge Stock <br>of content.</span>
</div>
<span id="OurPartnershipsForYou">Our Partnerships for <h6>you !</h6></span>
<script>
        function carouselleft(){
            var x = document.getElementById("carousel");
            x.className = "flexbox2"
            }
        function carouselright() {
            var x = document.getElementById("carousel");
            x.className = "rightcarousel"
            }
</script>
<div class="flexbox2" id="carousel">
	<div class="box3 prathama"><span>Affordale<br>PG on<br>Simply Clicks</span><img id="circle" src="static/images/DeskAndChairs.png"><img id="triangle" src="static/images/TrianglePG.png"></div>
	<div class="box3 dwitiya"><span><h>Monkhood</h><br><br>Affordable PG and renting options<br>for Students, Professionals and<br> Bachelors without any restrictions</span><t>See Offers</t></div>
	<div class="box3 tritiya"><img src="static/images/BookHoldingBoy.png"></div>
</div>
<button class="left move" onclick="carouselleft()"><i class="fa fa-chevron-circle-left"></i></button>
<button class="right move" onclick="carouselright()"><i class="fa fa-chevron-circle-right"></i></button>
<div id="big">
	<span id="Looking">Looking for<br>Internship?</span>
	<div id="medium">
		<div id="small">
			<a href="/mobile"><span id="RegisterButton">Register</span> &nbsp;<img src="static/images/EnrollNowIcon.png"></a>
		</div>
	</div>
</div>
	<div id="footer">
		<div class="monktree">
			<a href="/404" id="orange"><span>Monktree</span></a>
			<a href="/404">Our Aim</a>
			<a href="/404">Our Team</a>
			<a href="/404">Career</a>
			<a href="/404">Policies</a>
		</div>
		<div class="highlights">
			<a href="/404" id="purple"><span>Highlights</span></a>
			<a href="/404">Enrollment</a>
			<a href="/404">Courses</a>
			<a href="/404">Store</a>
			<a href="/404">Resume Builder</a>
		</div>
		<div class="products">
			<a href="/404" id="purple"><span>Products</span></a>
			<a href="/404">Bookbank</a>
			<a href="/404">Codingshastra</a>
			<a href="/404">Monktree Store</a>
			<a href="/404">Profile Build</a>
		</div>
		<div class="OurPartners">
			<a href="/404" id="purple"><span>Our Partners</span></a>
			<a href="/404">Myfirstboss</a>
			<a href="/404">Drozee</a>
			<a href="/404">Bachelor's Home</a>
			<a href="/404">Red Carpet</a>
		</div>
		<div class="SSS">
			<a href="/404">SSS</a>
			<a href="/404">Blogs</a>
			<a href="/404">Internships</a>
			<a href="/404">Incubations</a>
		</div>
	</div>
		<div id="FollowUs">Follow Us</div>	
	<div class="follow">
		<hr>
		<div class="socialmedia">
			<div class="circle">
				  <a href="https://www.instagram.com/monk_tree/" class="icon" >
				<i class="fa fa-instagram"></i>
				</a>
			</div>
			<div class="circle">
				<a href="https://www.facebook.com/monktree251094/" class="icon">
				<i class="fa fa-facebook"></i>
				</a>
			</div>
			<div class="circle">
				<a href="https://twitter.com/MonktreeO" class="icon">
				<i class="fa fa-twitter"></i>
				</a>
			</div>
		</div>
	</div>
</div>
</body>
</html>
